<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-background Soccerhall-har">
        <a class="bar-backgo icon iconfont icon-jiantou1" ng-click="backGo()"><i></i></a>
        <span style="margin-left: 1.3rem;position: relative;">添加银行卡</span>
        <div class="Soccerhall-har-right">
            <a class="icon iconfont icon-shouyeshouye funnel home" ng-click="Gohome()"></a>
        </div>
    </ion-header-bar>
    <ion-content class="contentBG">
        <div class="login-tab-con register-top">
            <form name="userLogin" ng-submit="doBindingBankCard()" novalidate="novalidate">
                <p>
                    <input name="account" type="text" ng-model="bankCardObj.bank" ng-focus="cellPhoneErrorOff()" ng-blur="setAccountBankName()"  placeholder="请输入开户行名字" />
                    <span class="error" ng-show="setAccountBankNameError">{{setAccountBankNameErrorMsg}}</span>
                </p>
                <p>
                    <input name="name" type="text" ng-model="bankCardObj.name" ng-focus="cellPhoneErrorOff()" ng-blur="setAccountName()" placeholder="请输入真实姓名" />
                    <span class="error" ng-show="setAccountNameError">{{setAccountNameErrorMsg}}</span>
                </p>
                <p class="login-tab-pwd" id="logintabpwd">
                    <input name="cardno" type="tel"  ng-model="bankCardObj.cardno" ng-focus="setPWDErrorOff()" ng-blur="setCardNum()" placeholder="新输入银行卡号" />
                    <span class="error" ng-show="setCardNumError">{{setCardNumErrorMsg}}</span>
                </p>
                <p>
                    <button class="submit-btn" type="submit">确认</button>
                </p>
            </form>
        </div>
    </ion-content>
</ion-view>
