/*公共样式*/
.bar-background{
    background: #f05244;;
}
.bar-background h1{
    color: #fff;
}
.contentBG{
    background: #f6f6f6;
}
.font-blue{
    color: #448DF0;
}
/*返回箭头*/
.bar-backgo{
    position: absolute;
    width: 1.2rem;
    font-size: 0.58rem;
    line-height: .68rem;
    color: #fff;
}
.bar-backgo i{
    position: absolute;
    display: block;
    background:rgba(255,255,255,0.5);
    width:1px;
    height:.34rem;
    top: 0;
    right: .32rem;
    margin-top: 0.19rem;
}
.bar-background .iconsub{
    position: absolute;
    bottom: 0;
    right: -.14rem;
    width: .14rem;
    height: .14rem;
    display: block;
    background: url("../img/iconsub.png");
    background-size: 100% 100%;
}
.icon-chilun{
    position: absolute;
    z-index: 9;
    display: block;
    font-size: .36rem;
    text-align: center;
    color: #fff;
    width: 1rem;
    height: .88rem;
    line-height: .88rem;
    right: 0;
    top: 0;
}
/*主题色彩*/
.font-color{
    color: #f05244;
}
.bg-color{
    background: #f05244;
}
input::-webkit-input-placeholder{
    color: #bfb8c3;
    font-size: .32rem;
}

.list-item{
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
    justify-content:space-between;
    line-height: .88rem;
    padding: .1rem .3rem;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.list-item:first-child{
    border-top: 1px solid #ccc;
}
.list-item i{
    font-size: .38rem;
    color: #ccc;
}
.auto-img img{
    display: block;
    width: 100%;
}
.height100{
    height: 100% !important;
}
.hall-mar{
    margin: 0 .4rem 0 .2rem;
}
.anniu{
    width: 92% !important;
    margin: auto;
}
.gou{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    border: 1px solid #ccc;
    margin-right: .06rem;
    position: relative;
    top: .035rem;
}
.gou span{
    position: absolute;
    display: inline-block;
    top: 50%;
    width: .20rem;
    height: .10rem;
    margin: -.075rem 0 0 1px;
    border-left: .03rem solid #F05244;
    border-bottom: .03rem solid #F05244;
    transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
}
.sljz{
    width: .5rem;
    height: .5rem;
    background: url("../img/loading.gif") no-repeat center 0;
}